@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&family=Orbitron&family=Righteous&family=Silkscreen&display=swap');

.timer {
    background-color: rgb(169, 210, 210);
    margin: auto;
    width: 300px;
    border-radius: 10px 10px 20px 20px;
}

.timer-title {
    text-align: center;
    margin-top: 10px;
    font-family: 'Righteous', sans-serif;
    font-weight: 100;
}

.timer-label {
    display: block;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 30px;
    font-family: 'Righteous', sans-serif;
    font-weight: 100;
}

.grid-new-container {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-bottom: 10px;
}

#start_stop, #reset {
    cursor: pointer;
    font-size: 30px;
}